@import 'color';
* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
  	outline: 0;
}

html {
	font-size: 20px;
}

body {
	user-select: none;
	line-height: 1.5;
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	background: $bg;
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",sans-serif;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	font-weight: normal;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

dl {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: top;
}

em {
	font-style: normal;
}

a {
	text-decoration: none;
	color: #333;
	&:hover {
		text-decoration: none;
	}
}

.main {
	overflow:auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	bottom: 2rem;
}
.main.full {
	top: 0;
	bottom: 0;
}

.refresh {
	position: relative;
	color: #999;
	font-size: 10px;
	background: #f5f5f5;
	height: 65px;
	text-align: center;
	p {
		line-height: 1;
	}
}

.searchText {
	width: 100%;
	-webkit-appearance: none;
	height: 1.2rem;
	line-height: 1.2rem;
	background-color: #f6f2f2;
	border: none;
	border-radius: 3px;
	padding: 0 .5rem 0 1.2rem;
	vertical-align: top;
}

.searchTextWrapper {
	position: absolute;
	left: 2.1rem;
	right: 2.1rem;
	top: 50%;
	transform: translateY(-50%);
	height: 1.2rem;
	&::after {
		content: '\e608';
		font-family: 'snt';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		top: 50%;
		left: (5rem / 20);
		transform: translateY(-50%);
		font-size: .7rem;
		color: #555;
	}
}

.ico_logo,.ico_qrcode {
	font-size: 1rem;
	color: #fff;
}

.ico_qrcode {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}


.ico_back {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 0.5rem;
	width: 1rem;
	height: 1rem;
	color: #333;
	cursor: pointer;
}

.ico_list,.ico_pic {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 0.5rem;
	font-size: .8rem;
	color: #777;
	cursor: pointer;
}

.ico_refresh_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid #eee7e7;
	border-radius: 100%;
	padding: 5px;
}

.ico_refresh_radius {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: red;
	top: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -4px;
	position: absolute;
	transform-origin: center 24px;
}

.ico_refresh_wrapper.ready {
	.ico_refresh_inner {
		transition: all linear .5s;
		top: 0;
	}
	.ico_refresh_radius {
		animation: rotate linear 1s infinite;
	}
}

@-webkit-keyframes rotate {
	to {
		transform: rotate(1turn);
	}
}
@keyframes rotate {
	to {
		transform: rotate(1turn);
	}
}

.ico_refresh {
	background: url(../../dist/img/loading.png) no-repeat;
	width: (62px / 2);
	height: (58px / 2);
	position: relative;
	background-size: contain;
}

.ico_refresh_inner {
	background: url(../../dist/img/loading_done.png) bottom center no-repeat;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100%;
}

.app-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(#ff553e,#ff2d51);
	z-index: 1000;
	&::after {
		content: '';
		background: url(../../dist/img/boot_logo.png);
		background-size: contain;
		width: (256px / 2);
		height: (328px / 2);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

// WebView
.app_webView {
	.app-main,.app-search,.app-brand {
		.main {
			bottom: 0;
		}
	}
}

.wrap {
	transform: translate3d(0,-65px,0);
	height: 100%;
}

.range {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	.decr,.incr,.input {
		display: inline-block;
		border: 1px solid #ddd;
		text-align: center;
		position: relative;
		vertical-align: top;
		margin-left: -1px;
	}
	.input {
		-webkit-appearance: none;
		border-radius: 0;
		background: #fff;
		color: #555;
	}
	.input[disabled] {
		color: #999;
	}
	.decr::after {
		content: '';
		background: #555;
		position: absolute;
		border-radius: 2px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.incr::before,.incr::after {
		@extend .decr::after;
	}
	.incr::after {
		transform: translate(-50%,-50%) rotate(90deg);
	}
	.decr.disabled::after,.incr.disabled::after,.incr.disabled::before {
		background: #999;
	}
}
