@import 'color';
@import 'mixins';
.brandSearch {
	height: (30rem / 20);
	position: relative;
	background: #fff;
	.searchTextWrapper {
		left: 5px;
		right: 5px;
	}
	.searchText {
		background: #fff;
	}
}
.brandList {
	background: #fff;
	dt {
		font-size: (14rem/20);
		font-weight: bold;
		padding: 0 10px;
		line-height: 1rem;
		background: $split;
		margin-top: -1px;
	}
	.opt {
		padding: 5px 0;
		margin: 0 10px;
		font-size: (14rem/20);
		// border-bottom: 1px solid $split;
		@include border1pxBottom($split);
		line-height: (26rem/20);
		color: $font;
		a {
			display: block;
		}
	}
}
.brandNav {
	position: fixed;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	.jump {
		display: block;
		font-size: (10rem/20);
		height: (12rem/20);
		width: (12rem/20);
		text-align: center;
		color: $second;
	}
}
