@import 'color';
@import 'mixins';
.cur {
  color: red;
}
.xxx {
  color: #999;
}
/*@-webkit-keyframes containnerOut {
  0% { transform: perspective(0) rotateX(30deg) scale(1); }
  50% { transform: perspective(2000px) rotateX(30deg) scale(1); }
  100% { transform: perspective(2000px) rotateX(0) scale(.8); }
}
@keyframes containnerOut {
  0% { transform: perspective(0) rotateX(30deg) scale(1); }
  50% { transform: perspective(2000px) rotateX(30deg) scale(1); }
  100% { transform: perspective(2000px) rotateX(0) scale(.8); }
}
@-webkit-keyframes containnerIn {
  0% { transform: perspective(2000px) rotateX(0) scale(.8); }
  50% { transform: perspective(2000px) rotateX(30deg) scale(1); }
  100% { transform: perspective(0) rotateX(30deg) scale(1); }
}
@keyframes containnerIn {
  0% { transform: perspective(2000px) rotateX(0) scale(.8); }
  50% { transform: perspective(2000px) rotateX(30deg) scale(1); }
  100% { transform: perspective(0) rotateX(30deg) scale(1); }
}*/
.snt-item {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .bounce {
    position: absolute;
    top: 0;
    bottom: 2.4rem;
    left: 0;
    right: 0;
    background: $bg;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .bounceTip {
    font-size: .7rem;
    text-align: center;
  }
  .ico_back {
    background: #fff;
    border-radius: 100%;
    width: (30rem / 20);
    height: (30rem / 20);
    line-height: (30rem / 20);
    text-align: center;
  }
  .containner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform ease .5s;
    background: #fff;
    > header {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      height: 2rem;
      width: 100%;
      transition: all linear .1s;
      h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: .8rem;
      }
    }
    &.in {
      /*animation: containnerIn linear .5s;*/
      transform: perspective(0) rotateX(0) scale(1);
    }
    &.out {
      /*animation: containnerOut linear .5s;*/
      transform: perspective(2000px) rotateX(30deg) scale(.9);
    }
  }
  .tips {
    display: none;
  }
  .hadShockOut {
    display: block;
  }
  .chooseItem {
    /*display: none;*/
    transition: transform ease .5s;
    transform: translate3d(0,1000px,0);
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: 101;
    filter: drop-shadow(0 1px 5px rgba(0,0,0,.5)); 
    &.in {
      transform: translate3d(0,0,0);
    }
    &.out {
      transform: translate3d(0,1000px,0);
    }
    .hd {
      position: relative;
      height: 5rem;
      .itemImg {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -.5rem;
        left: .5rem;
      }
      .sum {
        padding: 0 4rem;
        font-size: .9rem;
        padding-top: .5rem;
        h5 {
          height: 1rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .ico_del {
        position: absolute;
        top: .5rem;
        right: 1rem;
        color: rgba(0,0,0,.5);
      }
    }
    .bd {
      padding: 0 .5rem;
    }
    .ft {
      padding: .5rem;
    }
    .range {
      .decr,.incr,.input {
        width: (35rem / 20);
        height: (35rem / 20);
      }
      .input {
        width: 3rem;
        font-size: (14rem / 20);
      }
      .incr::before,.incr::after,.decr::after {
        width: (12rem / 20);
        height: (2rem / 20);
      }
    }
  }
  .gallery {
    width: 100%;
    height: 10rem;
    .slide {
      position: relative;
      ul {
        white-space: nowrap;
        font-size: 0;
        height: 100%;
      }
      li {
        display: inline-block;
        text-align: center;
        height: 100%;
        img {
          max-height: 100%;
        }
      }
      .tocs {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2rem;
        background: linear-gradient(top,transparent 30%,rgba(0,0,0,.4));
        .toc {
          position: absolute;
          transform: translate(-50%,-50%);
          left: 50%;
          top: 50%;
        }
      }
    }
  }
  .item {
    margin-bottom: .5rem;
    background: #fff;
    .sum {
  		overflow: hidden;
  		padding: 0 5px;
  		position: relative;
  		.l {
  			color: $second;
  			font-size: (11rem/20);
  		}
  		.b,.t {
  			font-size: (14rem/20);
  			color: $font;
  		}
      .t {
        position: relative;
        padding-right: 3rem;
      }
  		.v {
  			font-size: (10rem/20);
  			color: $main;
  			em {
  				font-size: (18rem/20);
  			}
  		}
  		.lv {
  			font-size: (10rem/20);
  			text-decoration: line-through;
  			color: $second;
  		}
  		.logo {
  			position: absolute;
  			right: 5px;
  			bottom: 5px;
  			max-height: 1.5rem;
  		}
      .share {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
      }
      .ico_discount {
        color: $main;
        font-size: .8rem;
        position: relative;
        text-align: center;
        margin-left: .25rem;
        em {
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          font-size: .6rem;
          white-space: nowrap;
        }
      }
  	}
  }
  .service {
    margin-bottom: .5rem;
    background: #fff;
    li {
      padding: 5px 10px;
      font-size: 0.65rem;
      line-height: 1.3rem;
      @include border1pxBottom($split);
      cursor: pointer;
      &:last-child {
        background: none;
      }
    }
  }
  .promise {
    margin-bottom: .5rem;
    background: #fff;
    font-size: .65rem;
    img {
      height: 7.6rem;
    }
    .hd {
      text-align: center;
      height: 1.5rem;
      @include border1pxBottom($split);
      span {
        display: inline-block;
        padding: 0 .5rem;
        background: #fff;
        position: relative;
        top: 1rem;
        font-size: .8rem;
      }
    }
    .bd {
      padding: 1rem 0;
      li {
        flex: 1;
        text-align: center;
      }
    }
  }
  .flex-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .btn_addChat,.btn_buy {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: .8rem;
    border-radius: 3px;
    flex: 1;
  }
  .btn_addChat {
    color: $main;
    background: #fff;
    border: 1px solid $main;
    margin-right: .5rem;
  }
  .btn_buy {
    color: #fff;
    background: $main;
    border: 1px solid $main;
  }
  .service-hook {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .2rem .5rem;
    height: 2.4rem;
  }
  .itemDetail {
    position: absolute;
    top: 2rem;
    bottom: 2.4rem;
    left: 0;
    right: 0;
    background: $bg;
    overflow: auto;
    overflow-x: hidden;
    transform: translate3d(0,1000px,0);
    transition: all ease .5s;
    &.in {
      transform: translate3d(0,0,0);
    }
    &.out {
      transform: translate3d(0,1000px,0);
    }
    .tabPanel {
      position: absolute;
      background: #fff;
      width: 100%;
      border-bottom: 1px solid #eee7e7;
      a {
        display: inline-block;
        padding: 0.2rem 0;
        width: 33.3333%;
        text-align: center;
        vertical-align: top;
        span {
          font-size: .6rem;
          display: block;
          border-right: 1px solid #eee7e7;
          height: 1.2rem;
          line-height: 1.2rem;
        }
        &:last-child {
          span {
            border-right: none;
          }
        }
        &.cur {
          color: $main;
          border-bottom: 1px solid $main;
        }
      }
    }
    .tabList {
      position: absolute;
      top: (33rem / 20);
      bottom: 0;
      width: 100%;
      /*overflow: auto;*/
      .tab {
        height: 100%;
        vertical-align: top;
      }
      .bounceTab {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}
