@mixin border1px($color){
	background-image: linear-gradient(180deg, $color, $color 50%, transparent 50%),
	  linear-gradient(270deg, transparent, transparent 50%, $color 50%),
	  linear-gradient(0deg, transparent, transparent 50%, $color 50%),
      linear-gradient(90deg, $color, $color 50%, transparent 50%);
	background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
	background-repeat: no-repeat;
	background-position: top,right top,bottom,left top;
}

@mixin border1pxLeft($color){
	background-image: linear-gradient(90deg, $color, $color 50%, transparent 50%);
	background-size: 1px 100%;
	background-repeat: no-repeat;
	background-position: left top;
}

@mixin border1pxRight($color){
	background-image: linear-gradient(270deg, transparent, transparent 50%, $color 50%);
	background-size: 1px 100%;
	background-repeat: no-repeat;
	background-position: right top;
}

@mixin border1pxBottom($color){
	background-image: linear-gradient(0deg, transparent, transparent 50%, $color 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
}

@mixin border1pxTop($color){
	background-image: linear-gradient(180deg, $color, $color 50%, transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: top;
}

@mixin border1pxRightBottom($color){
	background-image:linear-gradient(270deg, transparent, transparent 50%, $color 50%),
		linear-gradient(0deg, transparent, transparent 50%, $color 50%);
	background-size: 1px 100%,100% 1px;
	background-repeat: no-repeat;
	background-position: right top,bottom;
}
