@import "color";
.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 2rem;
	line-height: 2rem;
	width: 100%;
	border-top: 1px solid #eee7e7;
	background: #fff;
	.nav {
		font-size: 0;
		li {
			display: inline-block;
			width: 20%;
			font-size: (12rem/20);
			text-align: center;
			a.on {
				color: $main;
				display: block;
			}
		}
	}
}
