@import 'color';
@import 'mixins';
.app-search {
	.searchContainer {
		background: #fff;
	}
	.searchTextWrapper {
		left: 10px;
	}
	.btn_cancle,.btn_search {
		position: absolute;
		top: 50%;
		right: 0.3rem;
		transform: translateY(-50%);
		font-size: (14rem/20);
		color: #fff;
	}
	.ico_del {
		font-size: (12rem/20);
		text-align: center;
		line-height: (16rem/20);
		color: rgba(0,0,0,.5);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: (10rem/20);
	}
}
.searchHotTag {
	header {
		padding: 0 0.5rem;
		line-height: 1.5rem;
		font-size: (12rem/20);
		color: $second;
	}
	.tag {
		display: inline-block;
		line-height: 1rem;
		// border: 1px solid #ccc;
		@include border1px(#ccc);
		font-size: (12rem/20);
		padding: 0 0.5rem;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		color: $font;
	}
	section {
		padding: 0 0.5rem;
		font-size: 0;
	}
	.ico_hotTag {
		padding-right: .25rem;
	}
}
.searchHistory {
	header {
		padding: 0 0.5rem;
		line-height: 1.5rem;
		font-size: (12rem/20);
		color: $second;
	}
	section {
		font-size: (12rem/20);
		color: $font;
	}
	li {
		padding: 5px 10px;
		font-size: (12rem/20);
		// border-bottom: 1px solid #eee7e7;
		@include border1pxBottom(#eee7e7);
		line-height: 26px;
		color: #333;
	}
	.ico_history {
		padding-right: .25rem;
	}
}
.searchSuggest {
	position: fixed;
	top: 2rem;
	left: 0;
	right: 0;
	bottom: 2rem;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	background: #fff;
	li {
		padding: 5px 10px;
		font-size: (14rem/20);
		// border-bottom: 1px solid #eee7e7;
		@include border1pxBottom(#eee7e7);
		line-height: (26rem/20);
		color: #333;
	}
	a {
		display: block;
	}
}
