.app-searchResult {
	header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
	}
	.toggleView {
		top: (70rem/20);
		bottom: 0;
	}
	.noresult {
		height: 100%;
		background: url(../../dist/img/noresult.png);
		background-position: center 4rem;
		background-size: (308px / 2) (385px / 2);
		background-repeat: no-repeat;
	}
}
.searchInput {
	position: relative;
	height: 1.8rem;
}
.searchOptions {
	font-size: 0;
	border-top: 1px solid #eee7e7;
	border-bottom: 1px solid #eee7e7;
	a {
		display: inline-block;
		width: 25%;
		text-align: center;
		padding: 0.2rem 0;
		span {
			font-size: 12px;
			display: block;
			border-right: 1px solid #eee7e7;
			height: 1.2rem;
			line-height: 1.2rem;
		}
	}
	.on {
		border-bottom: 1px solid #c00;
		span {
			color: #c00;
		}
	}
}
