@import 'color';
@import 'mixins';
.sorts {
	margin-bottom: 15px;
	background: #fff;
}
.sorts-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 4rem;
	height: 4rem;
	@include border1pxRightBottom($split);
	img {
		width: 44rem/80*2;
	}
	p {
		font-size: (12rem/20);
		white-space: nowrap;
		margin-top: 0.125rem;
	}
}

.sorts-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}