@import 'color';
.app-sort {
	> header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
		height: 1.8rem;
		border-bottom: 1px solid #eee7e7;
	}
	section {
		top: 1.8rem;
		bottom: 0;
	}
}
.sort {
	background: #fff;
	margin-bottom: 15px;
	ul {
		font-size: 0;
	}
	li {
		width: 25%;
		display: inline-block;
		text-align: center;
		margin-bottom: 10px;
		img {
			padding: 0.25rem;
			max-height: 100%;
		}
	}
	.title {
		font-size: 12px;
		color: $font;
	}
}