.w {
	position: absolute;
	top: 0;
	bottom: 200px;
	width: 100%;
	overflow: auto;
}
.m {
	
}
.h,.f {
	background: red;
	height: 40px;
	font-size: 20px;
}
.b {
	height: 500px;
	background: lightcyan;
}