@import 'color';
@import 'mixins';
.toggleView {
	background: #fff;
	p {
		line-height: 1.1;
	}
	header {
		padding: 5px 10px;
		position: relative;
		.title {
			padding: 0 .25rem;
			display: inline-block;
			vertical-align: middle;
			line-height: (16rem/20);
			border-left: 3px solid $main;
			font-size: (14rem/20);
		}
		i {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(0,-50%);
			cursor: pointer;
		}
	}
	.img {
		img {
			max-height: 100%;
			position: relative;
			transform: translateY(-50%);
			margin-top: 50%;
		}
	}
	.list {
		// border-top: 1px solid $split;
		@include border1pxTop($split);
		a {
			display: block;
		}
		li {
			overflow: hidden;
		}
		.img {
			float: left;
			width: (100 * 20rem / 320);
			height: (100 * 20rem / 320);
			text-align: center;
			padding: 5px;
		}
		.sum {
			border-bottom: 1px solid $split;
			height: (125rem / 20);
			.name {
				overflow: hidden;
				max-height: 2.2rem;
				margin: 5px 0;
			}
		}

	}
	.pic {
		font-size: 0;
		margin-right: -5px;
		margin-bottom: -5px;
		a {
			display: block;
		}
		li {
			display: inline-block;
			vertical-align: top;
			width: (315rem / 40);
			margin-right: 5px;
			margin-bottom: 5px;
			// border: 1px solid $split;
			@include border1px($split);
		}
		.img {
			width: (315rem / 40);
			height: (315rem / 40);
			text-align: center;
			padding: 5px;
		}
		.sum {
			height: 100px;
			// border-top: 1px solid $split;
			@include border1pxTop($split);
			.b,.t {
				font-size: (12rem/20);
			}
			.name {
				overflow: hidden;
				max-height: 2.2rem;
				margin: 5px 0;
			}
		}
	}
	.sum {
		overflow: hidden;
		padding: 0 5px;
		position: relative;
		.l {
			color: $second;
			font-size: (11rem/20);
		}
		.b,.t {
			font-size: (14rem/20);
			color: $font;
		}
		.v {
			font-size: (10rem/20);
			color: $main;
			em {
				font-size: (18rem/20);
			}
		}
		.lv {
			font-size: (10rem/20);
			text-decoration: line-through;
			color: $second;
		}
		.logo {
			position: absolute;
			right: 5px;
			bottom: 5px;
			max-height: 1.5rem; 
		}
		.ico_discount {
      color: $main;
      font-size: .8rem;
      position: relative;
      text-align: center;
      margin-left: .25rem;
      em {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: .6rem;
        white-space: nowrap;
      }
    }
	}
}
